<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Bru Budget</h1>
                <hr>
                <p>Track your funds while you're having fun</p>
                <%= link_to 'Login', expenditures_path%>
            </div>
        </div>
</header>
